<mat-card>
  <mat-card-content>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Name of Farmer" [(ngModel)]="person.name" name="name">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Village" [(ngModel)]="person.village" name="village">
      </mat-form-field>
      <mat-form-field class="lot-input">
        <input matInput placeholder="Number of Lots" (change)="generateLots()" [(ngModel)]="person.lots" name="lots"
               type="number">
      </mat-form-field>
      <div *ngFor="let bag of bags; let k=index">
        <mat-form-field class="lot-input">
          <input matInput placeholder="Number of bags in lot {{k+1}}" [(ngModel)]="bagsList[k].size" name="bags{{k+1}}"
                 type="number"></mat-form-field>
        <mat-form-field class="lot-input">

          <input matInput placeholder="Price of lot {{k+1}}" [(ngModel)]="bagsList[k].price" name="lotPrice{{k+1}}"
                 type="number">
        </mat-form-field>
      </div>
      <div>

        <mat-form-field class="lot-input">

          <input matInput placeholder="Percentage" [(ngModel)]="percentage" name="percentage"
                 type="number">
        </mat-form-field>
        <mat-form-field class="lot-input">

          <input matInput placeholder="Hamali" [(ngModel)]="hamali" name="hamali"
                 type="number">
        </mat-form-field>
      </div>
      <div>
        <button mat-button (click)="createBagsArr()">Submit</button>
        <button mat-button (click)="cal()">Cal</button>
      </div>

      <mat-card class="bags-lot" *ngFor="let lot of lotsOfBags; let j = index">
        <p>Lot no. {{j + 1}}</p>

        <mat-card-content *ngFor="let bag of lot; let i = index">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Weight of bag {{i+1}}" [(ngModel)]="bagWieghts[j][i]"
                   name="{{'bag'+j+1+''+i+1}}" type="number">
          </mat-form-field>
          <button (click)="addWeight(j,i,0.25)">+.25</button>
          <button (click)="addWeight(j,i,0.50)">+.50</button>
          <button (click)="addWeight(j,i,0.75)">+.75</button>
        </mat-card-content>
      </mat-card>


    </form>

    <table class="table table-striped table-dark">
      <thead>

      <tr>
        <th scope="col">Bags</th>
        <th scope="col">Weight</th>
        <th scope="col">Price</th>
        <th scope="col">Total</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of listOfLotPricing">
        <td>{{item.bags}}</td>
        <td>{{item.weight}}</td>
        <td>{{item.price}}</td>
        <td>{{item.total | currency :'&#8377;':'symbol':'1.2-2'}}</td>
      </tr>
      <tr>
        <td colspan="2"> {{totalBags}} - Bags</td>
        <td>Total</td>
        <td>{{totalSum | currency :'&#8377;':'symbol':'1.2-2'}}</td>
      </tr>
      <tr>
        <td colspan="2">Intrest</td>
        <td></td>
        <td>{{intrestDeduction | currency :'&#8377;':'symbol':'1.2-2'}}</td>
      </tr>
      <tr>
        <td colspan="2">Other charges</td>
        <td></td>
        <td>{{otherCharges | currency :'&#8377;':'symbol':'1.2-2'}}</td>
      </tr>
      <tr>
        <td colspan="2">Final Amount</td>
        <td></td>
        <td>{{total| currency :'&#8377;':'symbol':'1.2-2'}}</td>
      </tr>
      </tbody>
    </table>

  </mat-card-content>
</mat-card>

